<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Problem Detail</title>
    <link rel="shortcut icon" th:href="@{/img/logo.PNG}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script src="https://www.jdoodle.com/assets/jdoodle-pym.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .list-group-horizontal .list-group-item.active {
        background-color: #28a745 !important;
        color: #fff !important;

    }

    .active {
        color: #1A906B !important;
    }
</style>

<body>
<div id="header" class="px-5">
    <nav class="navbar navbar-light bg-white navbar-expand-xl">
        <img th:src="@{/img/logo.PNG}" width="50px" alt="ảnh">
        <a th:href="@{/ui/v1}" class="navbar-brand">
            <h3 class="text-black ">AlgorithmMaster</h3>
        </a>
        <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarCollapse">
            <span class="fa fa-bars text-primary"></span>
        </button>
        <div class="collapse navbar-collapse bg-white" id="navbarCollapse">
            <div class="navbar-nav mx-auto">
                <a th:href="@{/ui/v1/exercise}" class="nav-item nav-link font-weight-bold active">
                    <h4>Problems</h4>
                </a>
                <a th:href="@{/ui/v1/submission}" class="nav-item nav-link font-weight-bold">
                    <h4>Submissions</h4>
                </a>
                <a href="user_leaderboard.html" class="nav-item nav-link">
                    <h4>Users</h4>
                </a>
                <a href="contest_list.html" class="nav-item nav-link">
                    <h4>Contests</h4>
                </a>
            </div>
            <div th:switch="${currentUser}">
                <div th:case="null" class="d-flex m-3 me-0 navbar-nav ">
                    <a th:href="@{/ui/v1/auth/login}" class="nav-item nav-link font-weight-bold"><p class="btn"><b>Sign
                        in</b></p></a>
                    <a th:href="@{/ui/v1/auth/register}" class="nav-item nav-link font-weight-bold"><p
                            class="btn btn-primary border" style="background-color: #20B486;"><b>Create free account</b>
                    </p>
                    </a>
                </div>
                <div th:case="*" class="d-flex m-3 me-0 navbar-nav">
                    <div class="profile-container" style="position: relative;
                    display: inline-block;">
                        <div class="profile"
                             style="display: flex; align-items: center; background-color: #20B486;color: white;padding: 10px; border-radius: 5px;">
                            <img th:src="@{/img/user.png}" alt="ảnh" class="profile-pic"
                                 style="width: 30px; height: 30px; border-radius: 50%; margin-right: 10px;">
                            <span>Hello, <strong>Nguyễn Tiến Kiên</strong>.</span>
                        </div>
                        <div class="dropdown-menu"
                             style="display: none; position: absolute; top: 100%; left: 0; background-color: #333; box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); border-radius: 5px; overflow: hidden; width: 100%;">
                            <a href="edit_profile.html"
                               style="color: white; padding: 12px 16px; text-decoration: none; display: block;">Edit
                                profile</a>
                            <a th:href="@{/ui/v1/auth/logout}"
                               style="color: white; padding: 12px 16px; text-decoration: none; display: block;">Log
                                out</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
<hr>
<div class="container" style="min-height: 1000px;" th:object="${exercise}">
    <h2 th:text="${exercise.name}"></h2>
    <hr>

    <div class="row">
        <div class="col-sm-10">
            <!--                <p>In case the statement didn't load correctly, you can download the statement here: <a-->
            <!--                        href="">Statement</a></p>-->
            <!--            <iframe src="/pdf/1.pdf" width="100%" height="500px" target="_parent"></iframe>-->
            <img th:src="@{'/convert/' + ${exercise.id} + '.png'}" width="100%"/>
        </div>
        <div class="col-sm-2 navbar-light bg-white navbar-expand-xl">
            <p><b>Please push code here!</b></p>
            <form th:action="@{'/ui/v1/exercise/' + ${exercise.id} + '/submit'}" method="post"
                  enctype="multipart/form-data">
                <input type="file" width="200px" name="file">
                <br><br>
                <button type="submit"
                        style="width: 200px; height: 30px; border-radius: 12px; border: none; color: #fff; background-color: #20B486;">
                    Submit Code
                </button>
            </form>
            <div th:if="${error}">
                <div class="alert alert-danger" role="alert">
                    File chưa được chọn
                </div>
            </div>
            <hr>
            <a style="text-decoration: none;" href="submissions.html">All submissions</a>
            <hr>
            <span th:switch="${exercise.category}">
                    <b>Points: </b>
                    <span th:case="'Dễ'">0.1</span>
                    <span th:case="'Trung bình'">0.2</span>
                    <span th:case="'Khó'">0.3</span>
                    <span th:case="*">0.0</span>
                    <span> (partial)</span>
                </span>
            <br>
            <span><b>Time limit: </b>1.0s</span><br>
            <span><b>Memory limit: </b>256MB</span>
            <br>
            <span><b>Input: </b>stdin</span><br>
            <span><b>Output: </b>stdout</span>
            <hr>
            <span><b>Author: </b><span th:text="${exercise.user.getFullName()}"></span></span><br>
            <span><b>Allowed languages: </b>C, C++, Java</span>
        </div>
    </div>
</div>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</html>