<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statistic</title>
    <link rel="shortcut icon" th:href="@{/img/logo.PNG}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
</head>
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .list-group-horizontal .list-group-item.active {
        background-color: #28a745 !important;
        color: #fff !important;

    }

    .active {
        color: #1A906B !important;
    }

            .dropdown-menu a:hover {
            background-color: #575757;
        }

        .profile-container:hover .dropdown-menu {
            display: block !important;
        }
    .dropdown-menu {
            border-left: 5px solid #20B486;
        }

</style>
<body>
<div id="header" class="px-5">
    <nav class="navbar navbar-light bg-white navbar-expand-xl">
        <img th:src="@{/img/logo.PNG}" width="50px" alt="ảnh">
        <a th:href="@{/ui/v1}" class="navbar-brand"><h3 class="text-black ">AlgorithmMaster</h3></a>
        <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarCollapse">
            <span class="fa fa-bars text-primary"></span>
        </button>
        <div class="collapse navbar-collapse bg-white" id="navbarCollapse">
            <div class="navbar-nav mx-auto">
                <a th:href="@{/ui/v1/exercise}" class="nav-item nav-link font-weight-bold">
                    <h4>Problems</h4>
                </a>
                <a th:href="@{/ui/v1/submission}" class="nav-item nav-link font-weight-bold">
                    <h4>Submissions</h4>
                </a>
                <a th:href="@{/ui/v1/board/user}" class="nav-item nav-link active">
                    <h4>Users</h4>
                </a>
                <a href="contest_list.html" class="nav-item nav-link"><h4>Contests</h4></a>
            </div>
            <div class="d-flex m-3 me-0 navbar-nav ">
                <a th:href="@{/ui/v1/auth/login}" class="nav-item nav-link font-weight-bold"><p class="btn"><b>Sign
                    in</b></p></a>
                <a th:href="@{/ui/v1/auth/register}" class="nav-item nav-link font-weight-bold"><p
                        class="btn btn-primary border"
                        style="background-color: #20B486;">
                    <b>Create free account</b></p></a>
            </div>
        </div>
    </nav>
</div>
<hr>
<div class="container mt-5" style="min-height: 1000px;" th:object="${user}">
    <div class="d-flex">
        <h2 style="color: blue;" th:text="${user.username}"></h2>
        <div class="d-flex navbar-collapse bg-white justify-content-end">
            <a th:href="@{/ui/v1/user(id=${user.id})}" class="nav-item nav-link hover">
                <p class="btn"
                   style=" margin-right: -10px; margin-left: -20px;">
                    <i class="tab-icon fa fa-info-circle"></i>
                    About
                </p>
            </a>
            <a href="#" class="nav-item nav-link">
                <p class="btn btn-outline-secondary border-0"
                   style="border-bottom: 3px solid green !important; border-left: 1px solid #ccc; border-right:1px solid #ccc;">
                    <i class="tab-icon fa fa-puzzle-piece"></i>
                    Statistics
                </p>
            </a>
            <a href="#" class="nav-item nav-link">
                <p class="btn btn-outline-secondary border-0" style=" margin-right: -10px; margin-left: -20px;">
                    <i class="tab-icon fa fa-rss"></i>
                    Blogs
                </p>
            </a>
            <span th:if="${currentUser != null and currentUser.id == user.id}">
                <a th:href="@{/ui/v1/user/profile(id=${user.id})}" class="nav-item nav-link">
                    <p class="btn btn-outline-secondary border-0" style=" margin-right: -10px; margin-left: -20px;">
                        <i class="tab-icon fa fa-edit"></i>
                        Edit Profile
                    </p>
                </a>
            </span>
        </div>
    </div>
    <hr style="margin-top: -25px;">
    <div class="row">
        <div class="col-3 text-center">
            <img th:src="@{/img/user.PNG}" alt="" style="width: 170px; height: 170px;">
            <br>
            <b>
                <span>Số bài đã giải: </span><span th:text="${user.calculateTotalExercise()}"></span>
            </b>
            <p>
                <span>Hạng điểm: </span><span th:text="${user.calculateTotalExercise()}"></span><br>
                <span>Tổng điểm: </span><span th:text="${user.calculateTotalPoints()}"></span><br>
                <span>Đóng góp: </span><span th:text="${user.calculateTotalExercise()}"></span><br>
            </p>
            <br>
            <a style="text-decoration: none;" th:href="@{/ui/v1/submission(userId=${user.id})}">Xem các bài đã nộp</a>

        </div>
        <div class="col-9">
            <h3>Phân tích submission đúng</h3>
            <ul th:if="${totalPages > 1}" class="list-group list-group-horizontal pb-3">
                <li th:each="pageNumber : ${#numbers.sequence(1, totalPages)}"
                    th:class="${pageNumber == currentPage + 1 ? 'list-group-item text-white bg-dark border active' : 'list-group-item text-white bg-dark border'}">
                    <a style="text-decoration: none; color: white"
                       th:href="@{/ui/v1/user/statistic(page=${pageNumber - 1}, id=${user.id})}" th:text="${pageNumber}"></a>
                </li>
            </ul>
            <div class="border-0 row">
                <table class="table table-bordered mb-0" th:each="sub : ${submissions}">
                    <tr th:if="${sub.status == 'success'}">
                        <td class="text-center col-sm-2" style="background-color: #53F23F;">
                            <table border="0" style="margin: 0 auto;">
                                <tr>
                                    <td class="text-center">100/100</td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        <span>AC | </span>
                                        <span th:text="${sub.codeType}"></span>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td class="col-sm-7">
                            <table border="0">
                                <tr>
                                    <td class="font-weight-bold"><b th:text="${sub.exercise.name}"></b></td>
                                </tr>
                                <tr>
                                    <td>
                                        <span th:text="${sub.user.username}"></span>
                                        <span th:text="${#dates.format(sub.createdDate, 'HH:mm:ss, dd/MM/yyyy')}"></span>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td class="text-center col-sm-3">
                            <table style="margin: 0 auto;">
                                <tr>
                                    <td>
                                        <b style="color: blue;">
                                        <span th:switch="${sub.exercise.category}">
                                            <span th:case="'Dễ'">1.0 </span>
                                            <span th:case="'Trung bình'">2.0 </span>
                                            <span th:case="'Khó'">3.0 </span>
                                            <span th:case="*">0.0 </span>
                                        </span>
                                        point
                                        </b>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">weighted <b>100%</b> (
                                        <span th:switch="${sub.exercise.category}">
                                            <span th:case="'Dễ'">1.0 </span>
                                            <span th:case="'Trung bình'">2.0 </span>
                                            <span th:case="'Khó'">3.0 </span>
                                            <span th:case="*">0.0 </span>
                                        </span>
                                        point)
                                    </td>
                                </tr>
                            </table>
                        </td>


                    </tr>
                </table>
                <hr>
                <br>
                <b>Dễ (<span th:text="${user.calculateTotalPointsEasy()}"></span> point)</b>
                <b>Trung bình (<span th:text="${user.calculateTotalPointsMedium()}"></span> point)</b>
                <b>Khó (<span th:text="${user.calculateTotalPointsHard()}"></span> point)</b>
            </div>
        </div>


    </div>
</div>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</html>