<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<style>
    *{
        margin: 0;padding: 0;box-sizing: border-box;
    }
    .list-group-horizontal .list-group-item.active {
            background-color: #28a745 !important; 
            color: #fff !important;
            
        }
    .active{
        color: #1A906B !important;
    }
    
</style>
<body>
    <div id="header" class="px-5">
        <nav class="navbar navbar-light bg-white navbar-expand-xl" >
            <img src="root/img/logo.PNG" width="50px" alt="ảnh">
            <a href="home.html" class="navbar-brand"><h3 class="text-black ">AlgorithmMaster</h3></a>
            <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars text-primary"></span>
            </button>
            <div class="collapse navbar-collapse bg-white" id="navbarCollapse">
                <div class="navbar-nav mx-auto">
                    <a href="problems.html" class="nav-item nav-link font-weight-bold"><h4>Problems</h4></a>
                    <a href="submissions.html" class="nav-item nav-link font-weight-bold active"><h4>Submissions</h4></a>
                    <a href="user_leaderboard.html" class="nav-item nav-link"><h4>Users</h4></a>
                    <a href="contest_list.html" class="nav-item nav-link"><h4>Contests</h4></a>
                </div>
                <div class="d-flex m-3 me-0 navbar-nav ">
                    <a href="signin.html" class="nav-item nav-link font-weight-bold"><p class="btn"><b>Sign in</b></p></a>
                    <a href="signup.html" class="nav-item nav-link font-weight-bold"><p class="btn btn-primary border" style="background-color: #20B486;"><b>Create free account</b></p></a>
                </div>
            </div>
        </nav>
    </div>
    <hr>
    <div class="container" style="min-height: 1000px;">
        <h2>All submissions</h2>
        <hr>
        
        <div class="row mt-2 container">
            <div class="list-group list-group-horizontal">
                <a href="#" class="list-group-item text-white bg-dark border">&lt&lt</a>
                <a href="#" class="list-group-item text-white bg-dark border active">1</a>
                <a href="#" class="list-group-item text-white bg-dark border">2</a>
                <a href="#" class="list-group-item text-white bg-dark border">3</a>
                <a href="#" class="list-group-item text-white bg-dark border">>></a>
              </div>
            <div class="col-sm-8">
                <div class="border-0 row">
                    <table class="table table-bordered" >
                        <tr>
                            <td class="text-center col-sm-2" style="background-color: greenyellow;">
                                <table border="0" style="margin: 0 auto;">
                                    <tr>
                                        <td class="text-center">100/100</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">AC | C++17</td>
                                    </tr>
                                </table>
                            </td>
                            <td class="col-sm-8">
                                <table border="0">
                                    <tr>
                                        <td class="font-weight-bold"><b>Bước nhảy xa nhất</b></td>
                                    </tr>
                                    <tr>
                                        <td>hoahoane 10:30:25 pm, 27/02/2024</td>
                                    </tr>
                                </table>
                            </td>
                            <td class="text-center col-sm-1" >
                                <table style="margin: 0 auto;">
                                    <tr>
                                        <td><b>33.15s</b></td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">10.8 MB</td>
                                    </tr>
                                </table>
                            </td>
                           
                            
                        </tr>
                        <tr>
                            <td class="text-center col-sm-2" style="background-color: greenyellow;">
                                <table border="0" style="margin: 0 auto;">
                                    <tr>
                                        <td class="text-center">100/100</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">AC | C++17</td>
                                    </tr>
                                </table>
                            </td>
                            <td class="col-sm-8">
                                <table border="0">
                                    <tr>
                                        <td class="font-weight-bold"><b>Bước nhảy xa nhất</b></td>
                                    </tr>
                                    <tr>
                                        <td>hoahoane 10:30:25 pm, 27/02/2024</td>
                                    </tr>
                                </table>
                            </td>
                            <td class="text-center col-sm-1" >
                                <table style="margin: 0 auto;">
                                    <tr>
                                        <td><b>33.15s</b></td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">10.8 MB</td>
                                    </tr>
                                </table>
                            </td>
                           
                            
                        </tr>
                        <tr>
                            <td class="text-center col-sm-2" style="background-color: greenyellow;">
                                <table border="0" style="margin: 0 auto;">
                                    <tr>
                                        <td class="text-center">100/100</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">AC | C++17</td>
                                    </tr>
                                </table>
                            </td>
                            <td class="col-sm-8">
                                <table border="0">
                                    <tr>
                                        <td class="font-weight-bold"><b>Bước nhảy xa nhất</b></td>
                                    </tr>
                                    <tr>
                                        <td>hoahoane 10:30:25 pm, 27/02/2024</td>
                                    </tr>
                                </table>
                            </td>
                            <td class="text-center col-sm-1" >
                                <table style="margin: 0 auto;">
                                    <tr>
                                        <td><b>33.15s</b></td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">10.8 MB</td>
                                    </tr>
                                </table>
                            </td>
                           
                            
                        </tr>
                        <tr>
                            <td class="text-center col-sm-2" style="background-color: greenyellow;">
                                <table border="0" style="margin: 0 auto;">
                                    <tr>
                                        <td class="text-center">100/100</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">AC | C++17</td>
                                    </tr>
                                </table>
                            </td>
                            <td class="col-sm-8">
                                <table border="0">
                                    <tr>
                                        <td class="font-weight-bold"><b>Bước nhảy xa nhất</b></td>
                                    </tr>
                                    <tr>
                                        <td>hoahoane 10:30:25 pm, 27/02/2024</td>
                                    </tr>
                                </table>
                            </td>
                            <td class="text-center col-sm-1" >
                                <table style="margin: 0 auto;">
                                    <tr>
                                        <td><b>33.15s</b></td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">10.8 MB</td>
                                    </tr>
                                </table>
                            </td>
                           
                            
                        </tr>
                        <tr>
                            <td class="text-center col-sm-2" style="background-color: greenyellow;">
                                <table border="0" style="margin: 0 auto;">
                                    <tr>
                                        <td class="text-center">100/100</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">AC | C++17</td>
                                    </tr>
                                </table>
                            </td>
                            <td class="col-sm-8">
                                <table border="0">
                                    <tr>
                                        <td class="font-weight-bold"><b>Bước nhảy xa nhất</b></td>
                                    </tr>
                                    <tr>
                                        <td>hoahoane 10:30:25 pm, 27/02/2024</td>
                                    </tr>
                                </table>
                            </td>
                            <td class="text-center col-sm-1" >
                                <table style="margin: 0 auto;">
                                    <tr>
                                        <td><b>33.15s</b></td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">10.8 MB</td>
                                    </tr>
                                </table>
                            </td>
                           
                            
                        </tr>
                        <tr>
                            <td class="text-center col-sm-2" style="background-color: greenyellow;">
                                <table border="0" style="margin: 0 auto;">
                                    <tr>
                                        <td class="text-center">100/100</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">AC | C++17</td>
                                    </tr>
                                </table>
                            </td>
                            <td class="col-sm-8">
                                <table border="0">
                                    <tr>
                                        <td class="font-weight-bold"><b>Bước nhảy xa nhất</b></td>
                                    </tr>
                                    <tr>
                                        <td>hoahoane 10:30:25 pm, 27/02/2024</td>
                                    </tr>
                                </table>
                            </td>
                            <td class="text-center col-sm-1" >
                                <table style="margin: 0 auto;">
                                    <tr>
                                        <td><b>33.15s</b></td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">10.8 MB</td>
                                    </tr>
                                </table>
                            </td>
                           
                            
                        </tr>
                        <tr>
                            <td class="text-center col-sm-2" style="background-color: greenyellow;">
                                <table border="0" style="margin: 0 auto;">
                                    <tr>
                                        <td class="text-center">100/100</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">AC | C++17</td>
                                    </tr>
                                </table>
                            </td>
                            <td class="col-sm-8">
                                <table border="0">
                                    <tr>
                                        <td class="font-weight-bold"><b>Bước nhảy xa nhất</b></td>
                                    </tr>
                                    <tr>
                                        <td>hoahoane 10:30:25 pm, 27/02/2024</td>
                                    </tr>
                                </table>
                            </td>
                            <td class="text-center col-sm-1" >
                                <table style="margin: 0 auto;">
                                    <tr>
                                        <td><b>33.15s</b></td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">10.8 MB</td>
                                    </tr>
                                </table>
                            </td>
                           
                            
                        </tr>
                        <tr>
                            <td class="text-center col-sm-2" style="background-color: greenyellow;">
                                <table border="0" style="margin: 0 auto;">
                                    <tr>
                                        <td class="text-center">100/100</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">AC | C++17</td>
                                    </tr>
                                </table>
                            </td>
                            <td class="col-sm-8">
                                <table border="0">
                                    <tr>
                                        <td class="font-weight-bold"><b>Bước nhảy xa nhất</b></td>
                                    </tr>
                                    <tr>
                                        <td>hoahoane 10:30:25 pm, 27/02/2024</td>
                                    </tr>
                                </table>
                            </td>
                            <td class="text-center col-sm-1" >
                                <table style="margin: 0 auto;">
                                    <tr>
                                        <td><b>33.15s</b></td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">10.8 MB</td>
                                    </tr>
                                </table>
                            </td>
                           
                            
                        </tr>
                        <tr>
                            <td class="text-center col-sm-2" style="background-color: greenyellow;">
                                <table border="0" style="margin: 0 auto;">
                                    <tr>
                                        <td class="text-center">100/100</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">AC | C++17</td>
                                    </tr>
                                </table>
                            </td>
                            <td class="col-sm-8">
                                <table border="0">
                                    <tr>
                                        <td class="font-weight-bold"><b>Bước nhảy xa nhất</b></td>
                                    </tr>
                                    <tr>
                                        <td>hoahoane 10:30:25 pm, 27/02/2024</td>
                                    </tr>
                                </table>
                            </td>
                            <td class="text-center col-sm-1" >
                                <table style="margin: 0 auto;">
                                    <tr>
                                        <td><b>33.15s</b></td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">10.8 MB</td>
                                    </tr>
                                </table>
                            </td>
                           
                            
                        </tr>
                        <tr>
                            <td class="text-center col-sm-2" style="background-color: greenyellow;">
                                <table border="0" style="margin: 0 auto;">
                                    <tr>
                                        <td class="text-center">100/100</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">AC | C++17</td>
                                    </tr>
                                </table>
                            </td>
                            <td class="col-sm-8">
                                <table border="0">
                                    <tr>
                                        <td class="font-weight-bold"><b>Bước nhảy xa nhất</b></td>
                                    </tr>
                                    <tr>
                                        <td>hoahoane 10:30:25 pm, 27/02/2024</td>
                                    </tr>
                                </table>
                            </td>
                            <td class="text-center col-sm-1" >
                                <table style="margin: 0 auto;">
                                    <tr>
                                        <td><b>33.15s</b></td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">10.8 MB</td>
                                    </tr>
                                </table>
                            </td>
                           
                            
                        </tr>
                        <tr>
                            <td class="text-center col-sm-2" style="background-color: greenyellow;">
                                <table border="0" style="margin: 0 auto;">
                                    <tr>
                                        <td class="text-center">100/100</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">AC | C++17</td>
                                    </tr>
                                </table>
                            </td>
                            <td class="col-sm-8">
                                <table border="0">
                                    <tr>
                                        <td class="font-weight-bold"><b>Bước nhảy xa nhất</b></td>
                                    </tr>
                                    <tr>
                                        <td>hoahoane 10:30:25 pm, 27/02/2024</td>
                                    </tr>
                                </table>
                            </td>
                            <td class="text-center col-sm-1" >
                                <table style="margin: 0 auto;">
                                    <tr>
                                        <td><b>33.15s</b></td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">10.8 MB</td>
                                    </tr>
                                </table>
                            </td>
                           
                            
                        </tr>
                        <tr>
                            <td class="text-center col-sm-2" style="background-color: greenyellow;">
                                <table border="0" style="margin: 0 auto;">
                                    <tr>
                                        <td class="text-center">100/100</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">AC | C++17</td>
                                    </tr>
                                </table>
                            </td>
                            <td class="col-sm-8">
                                <table border="0">
                                    <tr>
                                        <td class="font-weight-bold"><b>Bước nhảy xa nhất</b></td>
                                    </tr>
                                    <tr>
                                        <td>hoahoane 10:30:25 pm, 27/02/2024</td>
                                    </tr>
                                </table>
                            </td>
                            <td class="text-center col-sm-1" >
                                <table style="margin: 0 auto;">
                                    <tr>
                                        <td><b>33.15s</b></td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">10.8 MB</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-sm-4 navbar-light bg-white navbar-expand-xl">
                <h4 class="bg-dark text-white" style="padding: 10px; border-top-left-radius: 15px; border-top-right-radius: 15px;">Filter submissions</h4>
                <form action="" class="was-validated border p-2" style="border-bottom-left-radius: 13px; border-bottom-right-radius: 13px; margin-top: -9px;">
                    <div class="mb-3">
                        <label for="" class="form-label text-italic">Status</label>
                        <input type="text" class="form-control" id="" placeholder="Filter by type..." name="status" required>
                      </div>
                    <div class="mb-3">
                        <label for="" class="form-label text-italic">Languages</label>
                        <input type="text" class="form-control" id="" placeholder="Filter by type..." name="language" required>
                    </div>
                    <div class="mb-3 mt-3">
                      <label for="uname" class="form-label">Organization</label>
                      <select class="form-select">
                        <option>All</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                      </select>
                    </div>
                    <div class="d-flex flex-row justify-content-end">
                        <button type="submit" class="btn btn-primary border-0 w-25" style=" background-color: #FF974C;">Go</button>
                        
                    </div>
                  </form>
                
            </div>
        </div>
    </div>
    
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</html>